<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="FreeSpaceChecker.Settings.SettingsConfiguration, FreeSpaceChecker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true"/>
  </configSections>
  <settings>
    <objectsToCheck loggerPath="C:\Users\mgl15.GKMOGILEV\Desktop\Проекты\Soft GU\FreeSpaceChecker\">
      <comp ip="G600-SRMAIL"      disks="C-10,D-20"/>
      <comp ip="G600-SRIFMX"      disks="C-20,D-10"/>
      <comp ip="G600-SROBL"       disks="D-20"/>
      <comp ip="G600-SRREP"       disks="C-3,D-20"/>
      <comp ip="G600-SRREG"       disks="C-10,D-15"/>
      <comp ip="G600-SRBASE"      disks="C-20,D-20,E-20"/>
      <comp ip="G600-SRDB"        disks="C-3,D-5"/>
      <comp ip="G600-SRDOC"       disks="C=\Address-5,D=\Empty-10"/>
      <comp ip="G600-SRSTORE"     disks="C=\ved-25,D=\D-30"/>
      <comp ip="G600-SRWORK"      disks="C-20,D-20"/>
      <comp ip="G600-SRDATA"      disks="C-5,D-5,E-25"/>
      <comp ip="G600-SRSED1"      disks="C-10,D-20"/>
      <comp ip="G600-SRSED2"      disks="C-9"/>
      <comp ip="G600-SRBACKUP"    disks="C-2,D-2"/>
      <comp ip="G600-SRKRU"       disks="C-2,D-2,E-10"/>
      <comp ip="G600-SRMSG"       disks="C-5"/>
      <comp ip="G600-SRREGIONS"   disks="C-5,D-5"/>
      <comp ip="G600-SRSSD"       disks="C-10,D-10"/>
      <comp ip="G600-SRVM"        disks="C-10,D-20"/>
      <comp ip="VC11"             disks="D=\soft-30"/>
    </objectsToCheck>
    <emails>
      <email mail="G600-U115@mfrb.by" subject="Low disk space alert!"/>
    </emails>
  </settings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>