<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="settings" type="FreeSpaceChecker.Settings.SettingsConfiguration, free-space-checker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true" />
	</configSections>
	<settings adminLogin="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAACDfwkZAl3osUeDXxRDlhluAAAAAASAAACgAAAAEAAAAByL8tyH4eNvnr2LdqAH7QUwAAAAYyo1GsoYOgnpvxTPpyvbhNLs3XrkMB3CU7EFTxWtKwKd1lISBskxEqop6E6XjSdhFAAAAKSLlIqKnwOkR73UqYOTDz2oTpAH"
  loginSalt="0qCRfn2EGhys1cL7h/RmVXQ5PVcpOp8ZWvsr7O+4iY/SfvaFw9P2fVTjWdl2VtCbfKOPzelk6nyap7s49maGc1e9orOjFqXFzqBofC1CeD2WruGKduq9I2Z4pZbMgiGOTqdv73/ay7kRNQbdlbNrbtb2xQyBHn9KGkRiBrtjL2/K7P+D5HRI57KFKvOid2qKa1HvjcTk5If8AWtfLx6YLuZq/WAvTQ2iEylcybyMj2Kuq2i1Gmx5jnpTkUIWKvMo0Of62T8pvonhyxikP5QE+TNZwevnfARyf9ykwBa4W5ZS8sx2ZUQku8jbAWknNPvbDP5wpL8Ssd2XoooKG54aVA=="
  adminPass="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAAA8viv0CA7X9ncMVwQ31CB0AAAAAASAAACgAAAAEAAAAJUaQGn5lITNRG2cKKkK0nggAAAAr47jz2lTgHlst74VRfu952cqWH+qbH6UOBrd+jvqZtgUAAAAD2Y9ODZ4Y53DHuvlP7onKqtPgIk="
  passSalt="MmGZtcdWCorZ22fkK1u01Y/wITX7a/WDrTCH+JSD7HyG2msdRTVaoU5fpXM0QPaFaZ7ai5l82Rw1hMmAbANLiV2DBFwfzyiBLsKuNKz8QdVE4yqqmvcC+fWE+fFhrupY1/1khCS8o1i4xwe0QM382j41uJEjzdje4CeohDO3tAabN3wEl+B7DwzpTzKq8lRrp96t5SQ182fOpY3/99T91ORqh3K0U7oiYSoSfQJEVYZ0Vxh+mqYe9DzDA6aY3IrkeafGDBgd4NBN5v3fCa9xzHGC0Nxf6G5kQlNW8NRgpvzhxHDEhTuC2aM0+7zpzxk+kDyBS3whs59ItqDqb+A1eQ==">
		<objectsToCheck loggerPath="\\mog-adm-app\Logs\free-space-checker">
			<comp ip="10.10.115.241" disks="C-10,D-100,E-700" />
			<comp ip="10.10.115.242" disks="C-10,D-100,E-700" />
			<comp ip="10.10.115.243" disks="C-10,D-100,E-700" />
			<comp ip="10.10.115.244" disks="C-10,D-100,E-700" />
			<comp ip="10.10.115.245" disks="C-10,D-100,E-700" />
			<comp ip="10.10.115.246" disks="C-10,D-100,E-700" />
			<comp ip="10.10.232.021" disks="C-15,D-10" />
			<comp ip="10.10.232.020" disks="C-15" />
			<comp ip="10.10.232.019" disks="C-15" />
			<comp ip="10.10.232.015" disks="C-15" />
			<comp ip="10.10.232.016" disks="C-15" />
			<comp ip="10.10.232.251" disks="C-15,D-10" />
		</objectsToCheck>
		<emails sendEmail="true" smtpServer="smtp.office365.com" mailFrom="logs@novusbel.by"
			mailLogin="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAACLMXx4gm6P4mNqEfl3jrgpAAAAAASAAACgAAAAEAAAAFGg7jO8xZUP6KJqV2oFNIMoAAAAnoyUDdCfNVQtET1dcOMjUOvt4DJaQ3BjLWTIwhztSJy0yYODIl/YJhQAAAAyBaD3bpzOgPTa8X448F6TSOoRgA=="
			mailLoginSalt="Sx/6yJfNS3NIaIJAU2udZHfUcGEMvVbl3K8RoQPbErISQozCL4bf0EH3d2P4ApzDU792d6jMA5t9iDz95N8lCX+kbzNAybVKBoUlKaE/TzhVkYvjLfHCu2odrSvAdtxe/0aN3KW293oEvqeAV9nSsGIx1/ELVzdvDYe6StChm25dpFuNGzJUI+jtzH0PulAO/oUf9VTowqPK/SeCdL4oz7wmJQ5mT2294oN2gM171aQpP2eH05k1AumK8/HRmFqR2r3N2+elqhUXQyMBSv1bJxuiECf+ZCiyWPj0Zb7y1hBXzQ8+ydNM7cHQ6UHzw2MJND4Zv/vLDJqnL/cCaw9uqA=="
			mailPassword="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAABNukeu2MSYJssMETufU4HtAAAAAASAAACgAAAAEAAAAGeT6g2Tc485PgmpizYi0B0gAAAAY65+k89afSFjSdI2rZ51/YzX/14fqgn9ZWqxmQBxHqEUAAAAF019GB2rhZF3nqItj9LaaqwmDhw="
			mailPasswordSalt="P72Us/pYA9eRUK5G5yDJrt7egni1bNtnqBmQQtmFegJ8f8+0jukapLIC2HjqYMv0tfFtW1rmKYmv2ISUEZK4VS+82T/hqW4bCEhcG5f42R+ssHxe8QLGZ5UaU+vcWF1ZaolAQbswWK6upWphaa7SGrHAhq355HsLpVCgQ6GJNEgtvBaObIWxfIpcGBIjF0vMyU6bJTygR2P/qVjc/XisWUeBKS0gmwl5RJ/4D1E88ATR4eUR4iTT3ggl+a1/y86a9C3Yd+iFjm6bHiOESw8Ie4lnAfHfkyHlMJj+ISPfB7esmH1pezF2MMlU34uyPsB2iKC1RM1YYQbB10YSFpfgOg==">
			<email mail="konstantsin.skoibeda@novusbel.by" subject="Low disk space alert!" />
		</emails>
	</settings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

<!-- EXAMPLES                                                       -->
<!-- <comp ip="1.1.1.1"       disks="C=\Address-5,D=\Empty-10"/> -->
<!-- <comp ip="1.1.1.1"       disks="C-2,D-2,E-10"/>             -->